<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>


	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>

	<!-- 其他配置信息 -->
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>


	<!-- 这些映射文件是JBPM的，不能删除！！！ -->
	<mapping resource="jbpm.repository.hbm.xml" />
	<mapping resource="jbpm.execution.hbm.xml" />
	<mapping resource="jbpm.history.hbm.xml" />
	<mapping resource="jbpm.task.hbm.xml" />
	<mapping resource="jbpm.identity.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Department.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Privilege.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Role.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/User.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Application.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/ApproveInfo.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Template.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Faultform.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/DiningRecord.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/FaultApproveInfo.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Goodsform.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/GoodsApproveinfo.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Usecarform.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/UcleaderApproveinfo.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/UcsendApproveinfo.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Car.hbm.xml" />
	<mapping resource="com/hyjcy/oa/domain/Device.hbm.xml" />









</session-factory>
</hibernate-configuration>